
*{
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p,a, ul,li,ol,span{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.mission{
     box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
     width: 450px;
     margin-left: 40px;
     border-radius: 20px;
     margin-right: 40px;
     height: 150px;
}
.mission:hover{
    background-color: yellowgreen;
    transition: all ease-in-out 0.5s;
    color: white;
    transform: scale(1.1);
}


.mission_vission{
    display: flex;
    justify-content: space-around;
}


.review-card-main {
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    box-shadow: 0px 14px 74px 0px #0000000F;
    padding: 36px;
    border-radius: 20px;
}

#what-student-says {
    margin-top: 52px;
}

.student-says-heading h5 {
    font-size: 26px;
    font-weight: 400px;
    font-family: "poppins", sans-serif;
    color: var(--primary-orange-color);
}


.review-image img {
    width: 70px;
    height: 70px;
    border-width: 5px;
    box-shadow: 0px 14px 24px 0px #00000026;
    border-radius: 50%;
    margin: auto;
}

.student-sayas h5 {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    margin-left: -70px;
}

.student-sayas p {
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    margin-bottom: 11px;
    color: #757575;
    margin-left: -40px;
}

.student-sayas ul li {
    margin-bottom: 50px;
    color: rosybrown;
}

.student-sayas {
    margin-left: 21px;
}


.Biography{
    font-size: 35px;
    font-weight: 800;
    color: blueviolet;
}
.style{
    font-size: 20px;
}